body {
    background-color: #ffffff !important;
    color: #ffffff !important;
}



#MWOArenaDuels {
    width: 600px;
    position: relative;
    height: 326px;
    font-family: 'Roboto', Arial;
    border: 2px solid #444444;
}

    #MWOArenaDuels button {
        color: #ffffff;
        font-weight: bold;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        line-height: 14px;
        font-family: 'Roboto', Arial;
        text-align: center;
        background-color: #f15a24;
    }

    #MWOArenaDuels legend {
        position: absolute;
        top: -10px;
        right: 8px;
        background-color: #29abe2;
        color: #ffffff;
        font-family: 'Roboto', Arial;
        border: 2px solid #444444;
    }

    #MWOArenaDuels button.add {
    }

    #MWOArenaDuels ul {
        width: 100%;
    }

    #MWOArenaDuels li {
        width: 100%;
    }

    #MWOArenaDuels div.list-row {
        width: 100%;
        border-bottom: solid 1px #444444;
    }

    #MWOArenaDuels li div {
        display: inline-block;
        margin-left: 2px;
        margin-right: 2px;
    }

    #MWOArenaDuels label {
        display: none;
    }

    #MWOArenaDuels div.container-title {
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        border: none;
        margin: 0px;
        color: #ffffff;
        background-color: #444444;
        line-height: 14px;
        font-family: 'Roboto', arial;
        text-align: center;
        padding: 2px 8px;
        font-size: 1em;
        cursor: help;
    }

    #MWOArenaDuels div.container-footer {
        height: 30px;
        width: 100%;
        position: absolute;
        bottom: -1px;
        left: -2px;
        border-bottom-left-radius: 16px;
        margin: 0;
        padding: 0px;
        padding-top: 4px;
        padding-left: 4px;
        border: none;
        color: black;
        background-color: #444444;
    }

    #MWOArenaDuels div.control-group {
        display: block;
        height: 24px;
    }

    #MWOArenaDuels ul.action-list {
        list-style-type: none;
        height: 24px;
        line-height: 16px;
        width: 100%;
        margin: auto;
    }

        #MWOArenaDuels ul.action-list li {
            float: left;
            display: inline;
            max-width: 96px;
            padding: 1px 2px;
        }

    #MWOArenaDuels .action-list button {
        background-color: #29abe2;
    }

        #MWOArenaDuels .action-list button.add {
            font-size: large;
        }

 

#MWOArenaDuels .notification {
    width: 320px;
    height: 72px;
    white-space: nowrap;
    background-color: #444444;
    border: 1px solid #444444;
    position: absolute;
    z-index: 1000;
    top: 40%;
    left: 20%;
    overflow: hidden;        
    border-top-right-radius: 12px;
        border-bottom-left-radius: 12px;
}

    #MWOArenaDuels  .notification  .msg-body {
        height: 44px;
        color: #ffffff;
        margin: 4px;
        line-height: 14px;
        white-space: normal;
     background-color: #444444;
    }

    #MWOArenaDuels  .notification  .msg-title {
        height: 20px;
        color: #ffffff;
        background-color: #29abe2;
        margin: 4px;
        padding-left: 4px;
        line-height: 16px;
        white-space: normal;
 
        border-top-right-radius: 12px;
    }

 #MWOArenabusy {
    width: 320px;
    height: 72px;
    white-space: nowrap;
    background-color: #444444;
    border: 1px solid #444444;
    position: absolute;
    z-index: 1000;
    top: 40%;
    left: 20%;
    overflow: hidden;
}

#MWOArenabusy div.busy-item {
  color: #ffffff;
  height: 44px;
  line-height: 14px;
  margin: 4px;
  white-space: normal;
}

    #MWOArenabusy div.title {
        height: 20px;
        color: #ffffff;
        background-color: #29abe2;
        margin: 4px;
        line-height: 16px;
        white-space: normal;
    }


.colhead {
    font-weight: bold;
    margin-right: 4px;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
}

#duels-results {
    margin-top: 20px;
}

    #duels-results div.listframe {
        height: 242px;
    }

    #duels-results li div.colwrap {
        display: inline-block;
        margin-left: 2px;
        margin-right: 2px;
        height: 30px;
    }

        #duels-results li div.colwrap div {
            display: block;
        }

#duels-head {
    background-color: #444444;
    color: #ffffff;
    font-weight: bold;
}

#duels-thead {
    height: 38px;
}

div.desc {
    background-color: #444444;
    padding-top: 3px;
    padding-bottom: 1px;
    text-decoration: underline;
}

div.asc {
    background-color: #444444;
    padding-top: 1px;
    padding-bottom: 3px;
    text-decoration: underline;
}

div.listframe {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 258px;
}

#duels-list li {
    background-color: #29abe2;
    color: #ffffff;
    width: 100%;
    height: 32px;
}

    #duels-list li:nth-child(odd) {
        background-color: #f15a24;
        color: #ffffff;
    }


.listrow div.colwrap {
    margin-right: 4px;
}


div.MatchGroupName {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

div.DivisionName {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

div.ModeName {
    width: 40px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

div.WinnerName {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

div.WinnerChassisName {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

div.LoserName {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

div.LoserChassisName {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.Notes {
    display: none;
}

.IsValid {
    display: none;
}


#rankings-results {
    margin-top: 20px;
}

#rankings-head {
    background-color: #444444;
    color: #ffffff;
    font-weight: bold;
}


#rankings-list li {
    background-color: #29abe2;
    color: #ffffff;
    width: 100%;
}

    #rankings-list li:nth-child(odd) {
        background-color: #f15a24;
        color: #ffffff;
    }

div.pilot {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

div.wins {
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

div.losses {
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

div.wlRatio {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
 